In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [2]:
data = '../My_Mountain/static/data/각 수치의 상관계수 자료.csv'
df = pd.read_csv(data)
df.head()

,Unnamed: 0,A-B,A-C,A-D,B-C,B-D,C-D
0,상관계수,-0.004986265,0.081263212,-0.048551727,-0.617647859,0.796130869,-0.477608906
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,A,B,C,D
4,지역코드,지역1,지역2,미세먼지 위험도,질병 위험도,미세먼지-질병 상관,평균연령(10년)